.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  min-width: 40%;
  overflow: auto;
}
.App-header {
  text-align: center;
}
.App-container {
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}


input, textarea {
  display: inline-block;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"], input[type="button"] {
  padding: 10px;
  background-color: #0cdcff;
  color: white;
  border: none;
  font-size: inherit;
  width: 100%;
  display: inline-block;
}